body {
  margin: 0;
  background-image: url('./Assets/Img/negative-space-colorful-bokeh-abstract-18.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
