body {
  margin: 0;
  background-color: rgb(179, 81, 81);
  background-size: cover;

  // margin-top: 20px; removed by Gloria to solve the navbar margin
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
