body {
  margin: 0;
  background-image: url("..//public/pexels-sebastian-ervi-1763075\ \(2\).jpg");
  background-size: cover;
  margin-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
