/*
    Author:     Web Of Lies
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS file for SongItem Checklist Item
*/
.checkbox-item {
    margin: 10px;
    text-align: left !important;
    .SongCheckbox{
        margin-right: 20px;
    }
}