/*
    Author:     Web of lies
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS file for DropDown option for Profile
*/
@import '../../../Utils/scss/variables';
.dropdown-profile {
  background-color: $color-black;
  position: absolute;
  z-index: 100000;
  top: 10vh;
  right: 7px;
  border-radius: 0 0 10px 10px;
  border: 1px solid $color-white;
  user-select: none;
  display: flex;
  flex-direction: column;
  .MuiSvgIcon-root{
    color: $color-orange;
  }
  .MuiButton-label{
    color: $color-white;
  }
  .MuiButton-root:hover {
    background-color: $color-blue;
    .MuiButton-label{
      color: $color-black;
    }
    .MuiSvgIcon-root{
      color: $color-black;
    }
  }
}