.dropdown{
  position: absolute !important;
  z-index: 100000;
  top: 75px;
  right:7px;
  width: 20vw;
  display: flex;
  flex-flow: column;
  border: 1px solid #e0e0e0;
  border-radius:0 0 10px 10px;
  user-select: none;
  background-color: black;
  // color: white;
  .dropdown-head{
    flex-flow: column;
    p{
      color: gray;
    }
  }
  .lang-list {
    // background-color: aqua;
    :hover {
      background-color:antiquewhite;
    }
  }
  .button-div{
    width: 100%;
    // background-color: bisque;
    a{
      width: 100%;
    }
    button{
      background-color: darkcyan;
      width: 100%;
      padding: 7px;
      border: none;
    }
    :hover {
      background-color:burlywood;
    }
  }
}