/*
    Author:     Prasad Pathak
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS file for DropDownGenreList Element
*/
@import '../../../Utils/scss/_variables.scss';

.dropdown{
  position: absolute !important;
  z-index: 100000;
  top: 10vh;
  right:7px;
  width: 20vw;
  display: flex;
  flex-flow: column;
  border: 1px solid $color-white;
  border-radius:0 0 10px 10px;
  user-select: none;
  background-color: $color-black;
  .dropdown-head{
    flex-flow: column;
    p{
      color: $color-white;
    }
  }
  .lang-list {
    :hover {
      background-color:$color-blue;
    }
  }
  .button-div{
    width: 100%;
    a{
      width: 100%;
    }
    button{
      background-color: darkcyan;
      width: 100%;
      padding: 7px;
      border: none;
    }
  }
}