/*
    Author:     Prasad Pathak
    Subject:    INFO6150 - Web Design and UX
    Purpose:    SCSS file for Header Logo
*/
.brand{
  h1{
    font-size: 1.5rem;
    color: #EB5E28;
    font-weight: 800;
  }
  img{
    position: relative;
    margin: 0 10px;
  }
}